* {
  margin: 0;
  padding: 0;
  font-family: "poppins", "sans-serif";
  box-sizing: border-box;
}
body {
  background: #efefef;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1876f2;
  padding: 5px 5px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  width: 80px;
  margin-right: 45px;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right {
  margin-right: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-left ul li {
  list-style: none;
  display: inline;
}
.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}
.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 3px;
}
.search-box {
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.search-box img {
  width: 18px;
}
.search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.online {
  position: relative;
}
.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}
.left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 8%;
  align-self: flex-start;
}
.right-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 8%;
  align-self: flex-start;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  color: #626262;
  margin-bottom: 100px;
}
.main-content {
  flex-basis: 47%;
}
.imp-links a,
.shortcut-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
}
.imp-links a img {
  width: 25px;
  margin-right: 15px;
}
.imp-links a:last-child {
  color: #1876f2;
}

.imp-links {
  border-bottom: 1px solid #ccc;
}

.shortcut-links a img {
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}
.shortcut-links p {
  margin: 25px 0;
  color: #626262;
  font-weight: 500;
}
.sidebar-title {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.sidebar-title h4 {
  font-weight: 600;
  font-size: 16px;
}
.sidebar-title a {
  text-decoration: none;
  color: #1876f2;
  font-size: 12px;
}
.event {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}
.left-event {
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p {
  font-size: 12px;
}
.event a {
  font-size: 12px;
  text-decoration: none;
  font-size: #1876f2;
}
.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1876f2;
  color: #fff;
  font-size: 10px;
  padding: 4px 0;
}
.sidebar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}
.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.online-list .online img {
  width: 40px;
  border-radius: 50%;
}
.online-list .online {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.online-list .online::after {
  top: unset;
  bottom: 5;
}
.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.story {
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-image: url(("https://i.pinimg.com/originals/58/bf/24/58bf245ecef499e5c623921071db47ab.jpg"));
  background-size: cover;
  border-radius: 10px;
}

.story img {
  position: absolute;
  width: 55px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 5px solid #1876f2;
}

.story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.story1 {
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.5),
    url("https://freerangestock.com/sample/30763/cute-baby-boy.jpg")
  );
}
.story2 {
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.5),
    url("https://freerangestock.com/sample/30763/cute-baby-boy.jpg")
  );
}
.story3 {
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.5),
    url("https://freerangestock.com/sample/30763/cute-baby-boy.jpg")
  );
}
.story4 {
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.5),
    url("https://freerangestock.com/sample/30763/cute-baby-boy.jpg")
  );
}
.story5 {
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.5),
    url("https://freerangestock.com/sample/30763/cute-baby-boy.jpg")
  );
}
.story.story1 img {
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
}
.write-post-container {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  columns: #626262;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
}
.user-profile p {
  font-weight: 500;
  color: #626262;
}
.user-profile small {
  font-size: 12px;
  margin-top: 5px;
}
.post-input-container {
  padding-left: 55px;
  padding-top: 20px;
}
.post-input-container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
}
.add-post-links {
  display: flex;
  margin-top: 10px;
}
.add-post-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;
}

.add-post-links a img {
  width: 20px;
  margin-right: 10px;
}
.post-container {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;
}
.user-profile span {
  font-size: 13px;
  color: #9a9a9a;
}
.post-text {
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}
.post-text span {
  color: #626262;
  font-weight: 500;
}
.post-text a {
  color: #1876f2;
  text-decoration: none;
}
.post-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}
.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity-icons div img {
  width: 18px;
  margin-right: 10px;
}
.activity-icons div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
  margin-top: 10px;
}
.post-profile-icon {
  display: flex;
  align-items: center;
}
.post-profile-icon img {
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.image1 {
  position: relative;
  bottom: 2px;
}
.post-row a {
  color: #9a9a9a;
}
.load-more-btn {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  background: transparent;
  border-radius: 4px;
}
.footer {
  text-align: center;
  color: #9a9a9a;
  padding: 10px 0 20px;
  font-size: 13px;
}
.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  height: 500px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  top: 92px;
  right: 5%;
}
.user-profile a {
  font-size: 12px;
  color: #1876f2;
}
.settings-menu-inner {
  padding: 20px;
}
.settings-menu hr {
  border: 0;
  height: 1px;
  background: #9a9a9a;
  margin: 15px 0;
}
.setting-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.setting-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  color: #626262;
}
.settings-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}
.dark-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}
.dark-btn span {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}
.dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #000;
}
.cover {
  display: grid;
  grid-template-columns: auto auto auto;
}
/* Phần bên trái */
.left-sidebar {
  .imp-links a {
    display: flex;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
  .shortcut-links a {
    display: flex;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}

/* Phần giữa */
.main-content {
  .post-container {
    .comments-section {
      margin-top: 10px;
      .comment {
        padding: 5px;
        border-bottom: 1px solid #ddd;
        p {
          margin: 0;
        }
      }
    }
  }
}
/* Phần bình luận */
.comments-section {
  .comment {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }

    p {
      margin: 0;
      strong {
        font-weight: bold;
      }
    }
  }
}
